<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.allin.mobile.allinmobilelibrary">

    <!-- Permissões necessárias para o GCM funcionar -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".MailRegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="testando"
                    android:scheme="allin" />
            </intent-filter>
        </activity>
        <activity android:name=".MessagesActivity" />

        <!-- Activity da Library -->
        <activity
            android:name="br.com.allin.mobile.pushnotification.webview.AllInWebViewActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <!-- Implementação do AllInProductClickListener na aplicação sample -->

        <!-- Configuração do GCM -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="br.com.allin.mobile.pushnotification" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            </intent-filter>
        </receiver>

        <!-- Servico registrando o GCM Listener da AllIn -->
        <service
            android:name="br.com.allin.mobile.pushnotification.gcm.AllInGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <receiver android:name="br.com.allin.mobile.pushnotification.gcm.BroadcastNotification">
            <intent-filter>
                <action android:name="br.com.allin.mobile.pushnotification.gcm.BroadcastNotification" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c8628b9a1003d64ac34987e03f44aa6cdb07c5b6" />

        <meta-data
            android:name="allin.senderid"
            android:value="@string/sender_id" />

        <meta-data
            android:name="allin.token"
            android:value="@string/allin_token" />

    </application>

</manifest>