<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.allin.mobile.allinmobilelibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".SampleApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />

        <!-- ALL IN - INÍCIO -->

        <!-- Activity que exibe o conteúdo HTML do push -->
        <activity
            android:name="br.com.allin.mobile.pushnotification.webview.AllInWebViewActivity"
            android:theme="@style/AppTheme" />

        <!-- Activity que envia as informações do usuário -->
        <activity
            android:name="br.com.allin.mobile.pushnotification.notification.Register"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <!-- Registro da classe que recebe o push -->
        <service
            android:name="br.com.allin.mobile.pushnotification.notification.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Identificação do GMS do Google -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- CONFIG DAS NOTIFICAÇÕES -->

        <!-- Channel ID - Necessário em dispositivos com Android 8.0+-->
        <meta-data
            android:name="br.com.allin.messaging.messaging.notification_channel_id"
            android:value="notify_001" />

        <!-- Ícone branco do push notification -->
        <meta-data
            android:name="br.com.allin.messaging.notification_white_icon"
            android:resource="@mipmap/ic_launcher" />

        <!-- Ícone grande do push notification -->
        <meta-data
            android:name="br.com.allin.messaging.notification_big_icon"
            android:resource="@mipmap/ic_launcher" />

        <!-- Cor da notificação -->
        <meta-data
            android:name="br.com.allin.messaging.messaging.notification_color"
            android:resource="@android:color/white" />

        <!-- Token da All iN -->
        <meta-data
            android:name="allin.token"
            android:value="@string/allin_token" />

        <!-- ALL IN - FINAL -->
    </application>

</manifest>