<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.allin.mobile.allinmobilelibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".MailRegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="testando"
                    android:scheme="allin" />
            </intent-filter>
        </activity>
        <activity android:name=".MessagesActivity" />

        <!-- ALL IN - INÍCIO -->
        <activity android:name="br.com.allin.mobile.pushnotification.webview.AllInWebViewActivity" />

        <activity
            android:name="br.com.allin.mobile.pushnotification.notification.Register"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <service
            android:name="br.com.allin.mobile.pushnotification.notification.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- CONFIG DAS NOTIFICAÇÕES -->
        <meta-data
            android:name="br.com.allin.messaging.messaging.notification_channel_id"
            android:value="notify_001" />

        <meta-data
            android:name="br.com.allin.messaging.notification_white_icon"
            android:resource="@mipmap/ic_launcher" />

        <meta-data
            android:name="br.com.allin.messaging.notification_big_icon"
            android:resource="@mipmap/ic_launcher" />

        <meta-data
            android:name="br.com.allin.messaging.messaging.notification_color"
            android:resource="@color/design_default_color_primary_dark" />

        <meta-data
            android:name="allin.token"
            android:value="@string/allin_token" />
        <!-- ALL IN - FINAL -->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c8628b9a1003d64ac34987e03f44aa6cdb07c5b6" />

    </application>

</manifest>